<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') %>
</head>

<body style="<%='--body-color:'+data.colors.body_color + ';' +
'--theme-color:'+data.colors.theme_color + ';' + 
'--heading-color:'+data.colors.headings_color + ';' + 
'--paragraph-color:'+data.colors.paragraphs_color + ';' +
'--link-color:'+data.colors.links_color + ';' +
'--theme-color-2:'+data.colors.theme_color_2 + ';'%>">

    <%- include('../components/loader') %>

    <div class="preload">

        <%- include('../components/navigation') %>

        <main class="main">
            <section class="section container">
                <article class="section__content">
                    <h1 class="section__heading"><%=data.headings.heading_1%></h1>
                    <p class="section__caption"><%=data.paragraphs.paragraph_1%></p>
                    <a href="#" class="btn btn--primary">Start now</a>
                </article>
                <figure class="section__figure">
                    <img src="<%=data.images.image_1%>" alt="">
                </figure>
            </section>
            <section class=" sequel section container">
                <article class="section__content">
                    <h2 class="section__heading section__heading--withbar"><%=data.headings.heading_2%></h2>
                    <p class="section__caption"><%=data.paragraphs.paragraph_2%></p>
                </article>
            </section>
            <section class="section container">
                <figure class="section__figure">
                    <img src="<%=data.images.image_2%>" alt="">
                </figure>
                <article class="section__content">
                    <h2 class="section__heading section__heading--withbar"><%=data.headings.heading_3%></h2>
                    <p class="section__caption"><%=data.paragraphs.paragraph_3%></p>
                </article>
            </section>
            <section class="section container">
                <article class="section__content">
                    <h2 class="section__heading section__heading--withbar"><%=data.headings.heading_4%></h2>
                    <section class="section">
                        <article class="testimonials">
                            <% data.testimonials.forEach(function(testimonial,index){%>
                            <div class="<%=index==1?'testimonial testimonial--active':'testimonial'%>">
                                <h3 class="testimonial__heading">
                                    &ldquo;<%=testimonial.heading%>!&rdquo;</h3>
                                <ul class="rating__list">
                                    <li class="rating__item"><img src="/assets/images/star.svg" alt=""></li>
                                    <li class="rating__item"><img src="/assets/images/star.svg" alt=""></li>
                                    <li class="rating__item"><img src="/assets/images/star.svg" alt=""></li>
                                    <li class="rating__item"><img src="/assets/images/star.svg" alt=""></li>
                                    <li class="rating__item"><img src="/assets/images/star.svg" alt=""></li>
                                </ul>
                                <p class="section__caption">
                                    <%=testimonial.caption%></p>
                            </div>
                            <%});%>
                            <div class="testimonial__controls">
                                <a href="#" class="prev btn btn-ghost">Previous</a>
                                <a href="#" class="next btn btn--primary">Next</a>
                            </div>
                        </article>
                        <figure class="section__figure">
                            <img src="<%=data.images.image_3%>" alt="">
                        </figure>
                    </section>
                </article>
            </section>
            <section class="section section--last">
                <article class="section__content">
                    <h2 class="section__heading center"><%=data.headings.heading_5%></h2>
                    <p class="section__caption"><%=data.paragraphs.paragraph_4%></p>
                    <a href="#" class="btn btn--primary">Start now</a>
                </article>
            </section>
        </main>

        <%- include('../components/footer') %>
    </div>

    <script src="/scripts/main.js"></script>

</body>

</html>